pub struct RekindleApp;

impl eframe::App for RekindleApp {
    fn ui(&mut self, ui: &mut eframe::egui::Ui, _frame: &mut eframe::Frame) {
        eframe::egui::CentralPanel::default().show(ui, |ui| {
            ui.vertical_centered(|ui| {
                ui.heading("Rekindle");
                ui.label("Edit client/src/lib.rs to build your application.");
            });
        });
    }
}
