slint::slint! {
    export component HelloWorld {
        Text {
            text: "hello world";
            color: green;
        }
    }
}

pub fn run() -> Result<(), slint::PlatformError> {
    HelloWorld::new()?.run()
}
